{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href='{%static "css\bootstrap.min.css" %}'>
  <link rel="stylesheet" type="text/css" href='{%static "icofont\icofont.min.css" %}'>
  <style type="text/css">
    a:hover{
      color:#00d094 !important;

    }

    .icon:hover{
      color: #00d094 !important;
      border-color: #00d094 !important;

    }
  </style>
</head>

<body>
  <div class="row foot p-4 text-light" style="background-color:#081108">
    <div class="col-md-12">
      <hr class="mt-5" style="color:#bbc2c7">
      <div class="row mt-3">
        <div class="col-md-6 col-5" style="color:#bbc2c7">
          <i class="icofont-copyright me-2"></i>2024 All Rights Reserved By<span style="color:#00d094">Fusion</span>
        </div>
        <div class="col-md-6 col-7" style="text-align: right;">
          <a href="https://twitter.com/" class="shadow-none" style="text-decoration: none; color: white;"><i class="icofont-twitter border border-secondary p-2 rounded-circle me-2 icon"></i></a>
          <a href="https://www.facebook.com/" class="shadow-none" style="text-decoration: none; color: white;"><i class="icofont-facebook border  border-secondary p-2 rounded-circle me-2 icon "></i>
          </a>
          <a href="https://www.youtube.com/" class="shadow-none" style="text-decoration: none; color: white;"><i class="icofont-youtube-play border border-secondary p-2 rounded-circle me-2 icon"></i>
          </a>
          <a href="https://www.instagram.com/" class="shadow-none" style="text-decoration: none; color: white;"><i class="icofont-instagram border border-secondary p-2 rounded-circle me-2 icon"></i>
          </a>
          <a href="https://www.linkedin.com/home" class="shadow-none" style="text-decoration: none; color: white;"><i class="icofont-linkedin border border-secondary p-2 rounded-circle me-2 icon"></i></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>