{% extends 'base.html' %}
{% block content %}
{% load static %}

	<style>
		body{
			overflow-x: hidden;

		}
		
		.f_btn:hover{
			color:black;
		}
		.card:hover{
			border-color:#00d094 !important;
		}
	    .card{
			margin-left: 20px;
		}
		.card:hover h5 {
  			color: #00d094 !important;
		}
		a:hover{
			color: black !important;
			font-weight: bold;
		}
		


	
	</style>
</head>
<body style="background-color:#00150f; color: white;" class="pt-3 ps-3 pe-3">



<div class="main" id="mainContent">
	<div class="row mt-3">
		<div class="col-md-12">
			<center><h1><span style="color: #00d094;">Featured</span>&nbsp;News</h1></center>
			<p class="fs-5" style="text-align: justify; color: #bbc2c7;">Welcome to our Featured News, where we bring you the latest and most important stories from around the globe. Stay informed with breaking news, in-depth analyses, and comprehensive coverage of events that shape our world. From politics and technology to culture and sports, our curated selection ensures you are always up-to-date with the headlines that matter most. Dive in and explore the world's news, all in one place.</p>
		</div>
	</div>





{% if sresult %}

<!-- featured_news -->
	<div class="row">
		
		{% if right == 'even' %}
		{% for i in ks|slice:length %}
		<div class="col-lg-4 col-md-4 p-2">
			<div class="card border border-3 p-2 mb-5" style="width: 25rem; border-color: #00d094!important ; overflow: hidden; background-color: #253a33; color: white; height: 34rem;">
				<img src="{% if i.urlToImage %}{{ i.urlToImage }}{% else %}{% static 'photos/featured_news.jpg' %}{% endif %}" alt="News Image" data-aos="zoom-in" class="card-img-top" height="200px;" width="100%">
				<div class="card-body" style="text-align: justify;">
					<h6 class="card-subtitle text-body-secondary" data-aos="fade-left"><span style="color: #bbc2c7;"><b>{{i.author|truncatechars:15}}</b></span>
					<span class="ms-2" style="color: #bbc2c7">{{i.publishedAt|truncatechars:10}}</span></h6>
					<p class="card-text mt-2 fs-5" style="color: white;" data-aos="fade-right">{{i.title|safe|truncatechars:45}}</p>
					<div data-aos="fade-up"><p class="desc">{{i.content|safe|truncatechars:260}}</p></div>
					<a href="{{i.url}}" target="_blank" class="btn button text-dark pt-2 pb-2 ps-4 pe-4" style="background-color: #00d094">Read more...</a>
				</div> 
			</div>
		</div>
		{% endfor %}
		</div>
		{% elif right == 'odd' %}
		{% for i in ks|slice:length %}
		<div class="col-lg-4 col-md-4 p-2">
			<div class="card border border-3 p-2 mb-5" style="width: 25rem; border-color: #00d094!important ; overflow: hidden; background-color: #253a33; color: white; height: 34rem;">
				<img src="{% if i.urlToImage %}{{ i.urlToImage }}{% else %}{% static 'photos/featured_news.jpg' %}{% endif %}" alt="News Image" data-aos="zoom-in" class="card-img-top" height="200px;" width="100%">
				<div class="card-body" style="text-align: justify;">
					<h6 class="card-subtitle text-body-secondary" data-aos="fade-left"><span style="color: #bbc2c7;"><b>{{i.author|truncatechars:15}}</b></span>
					<span class="ms-2" style="color: #bbc2c7">{{i.publishedAt|truncatechars:10}}</span></h6>
					<p class="card-text mt-2 fs-5" style="color: white;" data-aos="fade-right">{{i.title|safe|truncatechars:45}}</p>
					<div data-aos="fade-up"><p class="desc">{{i.content|safe|truncatechars:260}}</p></div>
					<a href="{{i.url}}" target="_blank" class="btn button text-dark pt-2 pb-2 ps-4 pe-4" style="background-color: #00d094">Read more...</a>
				</div> 
			</div>
		</div>
		{% endfor %}
		</div>

		{% else %}
		{% for i in ks %}
		<div class="col-lg-4 col-md-4 p-2">
			<div class="card border border-3 p-2 mb-5" style="width: 25rem; border-color: #00d094!important ; overflow: hidden; background-color: #253a33; color: white; height: 34rem;">
				<img src="{% if i.urlToImage %}{{ i.urlToImage }}{% else %}{% static 'photos/featured_news.jpg' %}{% endif %}" alt="News Image" data-aos="zoom-in" class="card-img-top" height="200px;" width="100%">
				<div class="card-body" style="text-align: justify;">
					<h6 class="card-subtitle text-body-secondary" data-aos="fade-left"><span style="color: #bbc2c7;"><b>{{i.author|truncatechars:15}}</b></span>
					<span class="ms-2" style="color: #bbc2c7">{{i.publishedAt|truncatechars:10}}</span></h6>
					<p class="card-text mt-2 fs-5" style="color: white;" data-aos="fade-right">{{i.title|safe|truncatechars:45}}</p>
					<div data-aos="fade-up"><p class="desc">{{i.content|safe|truncatechars:260}}</p></div>
					<a href="{{i.url}}" target="_blank" class="btn button text-dark pt-2 pb-2 ps-4 pe-4" style="background-color: #00d094">Read more...</a>
				</div> 
			</div>
		{% endfor %}
		</div>
		{% endif %}
	


	<!--newsdata.in-->
	<div class="row crd">
		{% for i in k2s %}
		<div class="col-lg-4 col-md-6 p-2">
			<div class="card border border-3 p-2 mb-5" style="width: 25rem; border-color: #00d094!important ; overflow: hidden; background-color: #253a33; color: white; height: 34rem;">
				<img src="{% if i.image_url %}{{ i.image_url }}{% else %}{% static 'photos/featured_news.jpg' %}{% endif %}" alt="News Image" data-aos="zoom-in" class="card-img-top" height="200px;" width="100%">
				<div class="card-body" style="text-align: justify;">
					<h6 class="card-subtitle text-body-secondary" data-aos="fade-left"><span style="color: #bbc2c7;"><b>{{i.creator|truncatechars:15}}</b></span>
					<span class="ms-2" style="color: #bbc2c7">{{i.pubDate|truncatechars:10}}</span></h6>
					<p class="card-text mt-2 fs-5" style="color: white;" data-aos="fade-right">{{i.title|safe|truncatechars:45}}</p>
					<div data-aos="fade-up"><p class="desc">{{i.description|safe|truncatechars:260}}</p></div>
					<a href="{{i.link}}" target="_blank" class="btn button text-dark pt-2 pb-2 ps-4 pe-4" style="background-color: #00d094">Read more...</a>
				</div> 
			</div>
		</div>
		{% endfor %}
	</div>



	{% elif fresult %}


	<!-- featured_news -->
	<div class="row">
		{% for i in k %}
		<div class="col-4 p-2">
			<div class="card border border-3 p-2 mb-5" style="width: 25rem; border-color: #00d094!important ; overflow: hidden; background-color: #253a33; color: white;">
				<img src="{% if i.urlToImage %}{{ i.urlToImage }}{% else %}{% static 'photos/featured_news.jpg' %}{% endif %}" alt="News Image" data-aos="zoom-in" class="card-img-top" height="200px;" width="100%">
				<div class="card-body" style="text-align: justify;">
					<h6 class="card-subtitle text-body-secondary" data-aos="fade-left"><span style="color: #bbc2c7;"><b>{{i.author|truncatechars:15}}</b></span>
					<span class="ms-2" style="color: #bbc2c7">{{i.publishedAt|truncatechars:10}}</span></h6>
					<p class="card-text mt-2 fs-5" style="color: white;" data-aos="fade-right">{{i.title|safe|truncatechars:45}}</p>
					<div data-aos="fade-up"><p class="desc">{{i.content|safe|truncatechars:260}}</p></div>
					<a href="{{i.url}}" target="_blank" class="btn button text-dark pt-2 pb-2 ps-4 pe-4" style="background-color: #00d094">Read more...</a>
				</div> 
			</div>
		</div>
		{% endfor %}
	</div>


	<!--newsdata.in-->
	<div class="row crd">
		{% for i in k2 %}
		<div class="col-lg-4 col-md-6 p-2">
			<div class="card border border-3 p-2 mb-5" style="width: 25rem; border-color: #00d094!important ; overflow: hidden; background-color: #253a33; color: white;">
				<img src="{% if i.image_url %}{{ i.image_url }}{% else %}{% static 'photos/featured_news.jpg' %}{% endif %}" alt="News Image" data-aos="zoom-in" class="card-img-top" height="200px;" width="100%">
				<div class="card-body" style="text-align: justify;">
					<h6 class="card-subtitle text-body-secondary" data-aos="fade-left"><span style="color: #bbc2c7;"><b>{{i.creator|truncatechars:15}}</b></span>
					<span class="ms-2" style="color: #bbc2c7">{{i.pubDate|truncatechars:10}}</span></h6>
					<p class="card-text mt-2 fs-5" style="color: white;" data-aos="fade-right">{{i.title|safe|truncatechars:45}}</p>
					<div data-aos="fade-up"><p class="desc">{{i.description|safe|truncatechars:260}}</p></div>
					<a href="{{i.link}}" target="_blank" class="btn button text-dark pt-2 pb-2 ps-4 pe-4" style="background-color: #00d094">Read more...</a>
				</div> 
			</div>
		</div>
		{% endfor %}
	</div>

	<!--currentapi.in-->
	<div class="row crd">
		{% for i in k3 %}
		<div class="col-lg-4 col-md-6 p-2">
			<div class="card border border-3 p-2 mb-5" style="width: 25rem; border-color: #00d094!important ; overflow: hidden; background-color: #253a33; color: white;">
				<img src="{% if i.image %}{{ i.image }}{% else %}{% static 'photos/featured_news.jpg' %}{% endif %}" alt="News Image" data-aos="zoom-in" class="card-img-top" height="200px;" width="100%">
				<div class="card-body" style="text-align: justify;">
					<h6 class="card-subtitle text-body-secondary" data-aos="fade-left"><span style="color: #bbc2c7;"><b>{{i.author|truncatechars:15}}</b></span>
					<span class="ms-2" style="color: #bbc2c7">{{i.published|truncatechars:10}}</span></h6>
					<p class="card-text mt-2 fs-5" style="color: white;" data-aos="fade-right">{{i.title|safe|truncatechars:45}}</p>
					<div data-aos="fade-up"><p class="desc">{{i.description|safe|truncatechars:260}}</p></div>
					<a href="{{i.url}}" target="_blank" class="btn button text-dark pt-2 pb-2 ps-4 pe-4" style="background-color: #00d094">Read more...</a>
				</div> 
			</div>
		</div>
		{% endfor %}
	</div>
  



	
	{% else %}

<!-- featured_news -->
	<div class="row">
		{% for i in k|slice:":9" %}
		<div class="col-4 p-2">
			<div class="card border border-3 p-2 mb-5" style="width: 25rem; border-color: #00d094!important ; overflow: hidden; background-color: #253a33; color: white; height: 34rem;">
				<img src="{% if i.urlToImage %}{{ i.urlToImage }}{% else %}{% static 'photos/featured_news.jpg' %}{% endif %}" alt="News Image" data-aos="zoom-in" class="card-img-top" height="200px;" width="100%">
				<div class="card-body" style="text-align: justify;">
					<h6 class="card-subtitle text-body-secondary" data-aos="fade-left"><span style="color: #bbc2c7;"><b>{{i.author|truncatechars:15}}</b></span>
					<span class="ms-2" style="color: #bbc2c7">{{i.publishedAt|truncatechars:10}}</span></h6>
					<p class="card-text mt-2 fs-5" style="color: white;" data-aos="fade-right">{{i.title|safe|truncatechars:45}}</p>
					<div data-aos="fade-up"><p class="desc">{{i.content|safe|truncatechars:260}}</p></div>
					<a href="{{i.url}}" target="_blank" class="btn button text-dark pt-2 pb-2 ps-4 pe-4" style="background-color: #00d094">Read more...</a>
				</div> 
			</div>
		</div>
		{% endfor %}
	</div>


	<!--newsdata.in-->
	<div class="row crd">
		{% for i in k2|slice:":6" %}
		<div class="col-lg-4 col-md-6 p-2">
			<div class="card border border-3 p-2 mb-5" style="width: 25rem; border-color: #00d094!important ; overflow: hidden; background-color: #253a33; color: white; height: 34rem;">
				<img src="{% if i.image_url %}{{ i.image_url }}{% else %}{% static 'photos/featured_news.jpg' %}{% endif %}" alt="News Image" data-aos="zoom-in" class="card-img-top" height="200px;" width="100%">
				<div class="card-body" style="text-align: justify;">
					<h6 class="card-subtitle text-body-secondary" data-aos="fade-left"><span style="color: #bbc2c7;"><b>{{i.creator|truncatechars:15}}</b></span>
					<span class="ms-2" style="color: #bbc2c7">{{i.pubDate|truncatechars:10}}</span></h6>
					<p class="card-text mt-2 fs-5" style="color: white;" data-aos="fade-right">{{i.title|safe|truncatechars:45}}</p>
					<div data-aos="fade-up"><p class="desc">{{i.description|safe|truncatechars:260}}</p></div>
					<a href="{{i.link}}" target="_blank" class="btn button text-dark pt-2 pb-2 ps-4 pe-4" style="background-color: #00d094">Read more...</a>
				</div> 
			</div>
		</div>
		{% endfor %}
	</div>

	<!--currentapi.in-->
	<div class="row crd">
		{% for i in k3|slice:":6" %}
		<div class="col-lg-4 col-md-6 p-2">
			<div class="card border border-3 p-2 mb-5" style="width: 25rem; border-color: #00d094!important ; overflow: hidden; background-color: #253a33; color: white; height: 34rem;">
				<img src="{% if i.image %}{{ i.image }}{% else %}{% static 'photos/featured_news.jpg' %}{% endif %}" alt="News Image" data-aos="zoom-in" class="card-img-top" height="200px;" width="100%">
				<div class="card-body" style="text-align: justify;">
					<h6 class="card-subtitle text-body-secondary" data-aos="fade-left"><span style="color: #bbc2c7;"><b>{{i.author|truncatechars:15}}</b></span>
					<span class="ms-2" style="color: #bbc2c7">{{i.published|truncatechars:10}}</span></h6>
					<p class="card-text mt-2 fs-5" style="color: white;" data-aos="fade-right">{{i.title|safe|truncatechars:45}}</p>
					<div data-aos="fade-up"><p class="desc">{{i.description|safe|truncatechars:260}}</p></div>
					<a href="{{i.url}}" target="_blank" class="btn button text-dark pt-2 pb-2 ps-4 pe-4" style="background-color: #00d094">Read more...</a>
				</div> 
			</div>
		</div>
		{% endfor %}
	</div>
  

</div>


{% endif %}
















{% if messages %}
    {% for message in messages %}
        {% if message.message == '1' %}
            <script type="text/javascript">
				alert("Invalid Candidate")
			</script>
        {% endif %}
        {% if message.message == 'verification' %}
            <script type="text/javascript">
				alert("Wrong OTP entered")
			</script>
        {% endif %}
        {% if message.message == 'success' %}
            <script type="text/javascript">
				alert("User registered successfully....now you can login to your account")
			</script>
        {% endif %}
        {% if message.message == 'already' %}
            <script type="text/javascript">
				alert("This user is already registered")
			</script>
        {% endif %}
        {% if message.message == 'error' %}
            <script type="text/javascript">
				alert("You need to login first to access this")
			</script>
        {% endif %}
        {% if message.message == 'wrong input' %}
            <script type="text/javascript">
				alert("Enter valid input")
			</script>
        {% endif %}
        {% if message.message == 'No results found' %}
            <script type="text/javascript">
				alert("No results found....try to enter valid input")
			</script>
        {% endif %}
    {% endfor %}
{% endif %}




{% endblock %}

